@font-face {
  font-family: "NexonLv1Gothic";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NexonLv1Gothic";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicRegular.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NexonLv1Gothic";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NexonLv1Gothic/NexonLv1GothicBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "YoutubeSans";
  font-weight: 700;
  font-style: bold;
  src: url(../fonts/youtube-sans-bold.eot);
  src: url(../fonts/youtube-sans-bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/youtube-sans-bold.svg#youtube-sans-bold) format("svg"),
    url(../fonts/youtube-sans-bold.woff) format("woff"),
    url(../fonts/youtube-sans-bold.woff2) format("woff2");
}

@font-face {
  font-family: "YoutubeSans";
  font-weight: 100;
  font-style: light;
  src: url(../fonts/youtube-sans-light.eot);
  src: url(../fonts/youtube-sans-light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/youtube-sans-light.svg#youtube-sans-light) format("svg"),
    url(../fonts/youtube-sans-light.woff) format("woff"),
    url(../fonts/youtube-sans-light.woff2) format("woff2");
}

@font-face {
  font-family: "YoutubeSans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/youtube-sans-medium.eot);
  src: url(../fonts/youtube-sans-medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/youtube-sans-medium.svg#youtube-sans-medium) format("svg"),
    url(../fonts/youtube-sans-medium.woff) format("woff"),
    url(../fonts/youtube-sans-medium.woff2) format("woff2");
}
