#header {
  border-bottom: 1px solid var(--bg-light-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffffe0;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  height: 58px;
  z-index: 1000;

  .logo {
    width: 15%;
    text-align: center;
    // border-right: 1px solid var(--bg-light-border);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

    .yt_logo {
      width: 44px;
    }
    a {
      font-family: "YoutubeSans";
      font-weight: light;
      font-size: 24px;
    }

    .icon {
      vertical-align: -6px;
      color: #e87122;
      font-size: 30px;
      margin-right: 10px;
    }
  }

  .search {
    width: 85%;
    // padding: 10px 30px;
    position: relative;
    display: flex;

    .glass {
      position: absolute;
      left: 21px;
      top: 50%;
      height: 17px;
      transform: translate(0, -50%);
      color: #757575;
      z-index: 1;
    }

    input {
      width: 100%;
      background: #ededed63;
      border-radius: 100px;
      padding: 10px 20px 10px 50px;
      margin: 0 auto;
      border: 1px solid #ededed;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  }
}

@media (max-width: 1000px) {
  #header {
    flex-direction: column;
    padding: 5px;
    height: 100px;

    .logo {
      padding-top: 5px;
      border-right: 0;
      width: 100%;
    }
    .search {
      width: 100%;
    }
  }
  #main {
    display: block !important;
    #aside {
      width: 100% !important;
      min-height: auto !important;
      overflow-x: scroll;
      border-right: 1px solid var(--bg-light-border);
      padding: 35px 0px 10px 0px !important;

      &::-webkit-scrollbar {
        /* 스크롤바 전체 영역 */
        width: 10px;
        height: 3px;
      }
      &::-webkit-scrollbar-track {
        /* 스크롤이 움직이는 영역  */
        background-color: #00000027;
      }
      &::-webkit-scrollbar-thumb {
        /*  스크롤  */
        background-color: #ff0000;
        border-radius: 30px;
      }
      > div {
        display: flex;
        align-items: center;
        button {
          display: flex;
          // height: 40px;
          align-items: center;
          margin-bottom: auto;
          span {
            display: none;
            background: #f8f8f8;
            border-radius: 100px;
            padding: 13px;
            &:first-child {
              height: 40px;
              margin-right: 0px;
            }
          }
        }
      }
    }
    #contents {
      width: 100% !important;
    }
  }
  .videos__inner {
    > div {
      width: 100% !important;
      margin-bottom: 25px !important;
    }
  }
}
