.cn_page_container {
  // margin-top: 70px;
  width: 100vw;
  padding-left: 200px;
  .cn_page_container_inner {
    width: 1300px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 20px;
  }
}
