body {
	background: var(--dark-bg);
	color: white;
}

// 메인 배너
.banner_container {
	border-radius: var(--radius);
	height: 400px;
	overflow: hidden;
	width: 100%;
	position: relative;
	background: var(--dark-button);
	img {
		position: absolute;
		top: -50%;
		left: 0%;
		transform: translate(0, 0);
	}
}

// 드랍 존
.dropbox {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 50vw;
	background: var(--transparent-dark);
	backdrop-filter: blur(var(--backdrop-filter));
	-webkit-backdrop-filter: blur(var(--backdrop-filter));
	border: 1px solid #ffffff26;
	border-radius: 5px;
	padding: 10px;
	transition: 0.25s;
	z-index: 10000;
	.title {
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 10px 10px 20px 20px;
		img {
			width: 19px;
		}
		p {
			font-weight: 700;
			font-size: 22px;
			text-transform: uppercase;
		}
	}
	.dropbox_inner {
		height: 100%;
		border: 3px dotted #ffffff20;
		border-radius: 5px;
		padding: 10px;
		position: relative;
		// display: flex;
		// gap: 20px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(1, minmax(100px, auto));
		display: grid;
		grid-gap: 10px;
		&::after {
			content: "여기에 드랍해주세요";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: fit-content;
			color: #ffffff36;
			font-weight: 600;
		}
		.drophere {
			position: relative;
			// border-right: 1px solid rgba(255, 255, 255, 0.157);
			// padding-right: 10px;
			div {
				width: 100%;
				height: 100%;
				background: #182b1f;
				border-radius: 5px;
				box-sizing: border-box;
				> img {
					width: 19px;
					position: absolute;
					top: 40%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&::after {
					content: "여기에 드랍해주세요";
					position: absolute;
					top: 60%;
					left: 50%;
					transform: translate(-50%, -50%);
					height: fit-content;
					color: #11d619;
					font-weight: 700;
					white-space: pre;
				}
			}
		}
		.item {
			position: relative;
			padding: 5px;
			transition: 0.25s;
			border-radius: 5px;
			border: 1px solid transparent;
			cursor: pointer;

			&:hover {
				background: #ffffff17;
				border: 1px solid #11d619;
			}

			> button {
				display: flex;
				align-items: center;
				justify-content: center;
				background: white;
				border-radius: 100px;
				width: 20px;
				height: 20px;
				text-align: center;
				line-height: 1.8;
				position: absolute;
				top: 10px;
				right: 10px;
				cursor: pointer;
				transition: 0.25s;
				box-shadow: 0 3px 7px 0 #000;
				&:hover {
					background: #11d619;
				}

				> img {
					width: 15px;
				}
			}
			> img {
				border-radius: 5px;
				margin-bottom: 5px;
			}
			p {
				color: white;
				font-weight: 700;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}
	.close_btn {
		width: 100%;
		background: #131418;
		color: white;
		font-weight: 700;
		border-radius: 5px;
		padding: 15px;
		margin-top: 10px;
		transition: 0.25s;
		border: none;
		cursor: pointer;
		&:hover {
			background: #11d619;
			color: black;
			border: none;
		}
	}

	&.close {
		transform: translate(-50%, 1000px);
	}

	.open_btn {
		position: fixed;
		top: -1000px;
		left: 50%;
		transform: translate(-50%, 0);
		width: 500px;
		height: 100px;
		background: red;
	}
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	padding: 10px 20px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	height: 50px;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	background: rgba(32, 35, 43, 0.8588235294);
	color: white;
	transition: 0.25s;
	font-weight: 700;
	gap: 5px;
	-webkit-backdrop-filter: blur(var(--backdrop-filter));
	backdrop-filter: blur(var(--backdrop-filter));
	border: 1px solid rgba(255, 255, 255, 0.0588235294);
	border-bottom: none;
	&.hide {
		transform: translate(-50%, 100px);
	}
	img {
		width: 30px;
		// filter: brightness(0);
		position: absolute;
		top: -15px;
		left: 50%;
		border-radius: 100px;
		transform: translate(-50%, 0);
		background: #11d61746;
		padding: 5px;
	}
	&:hover {
		background: black;
	}
}

#aside {
	width: 200px;
	min-width: 200px;
	position: fixed;
	left: 0;
	top: 70px;
	z-index: 100;
	padding: 20px;
	border-right: 1px solid var(--dark-border-color);
	background: var(--transparent-dark);
	backdrop-filter: blur(var(--backdrop-filter));
	-webkit-backdrop-filter: blur(var(--backdrop-filter));
	button {
		font-size: 14px;
		transition: 0.25s;
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		color: white;
		background: transparent;
		padding: 10px;
		width: 100%;
		text-align: left;
		border-radius: var(--radius);
		margin-bottom: 10px;
		img {
			border-radius: 100px;
			width: 20px;
			height: 20px;
			object-fit: cover;
		}
		&:hover {
			background: var(--dark-hover-color);
		}

		.broken {
			img {
				border-radius: 0;
			}
		}
	}
}
