#main {
  display: flex;
  margin-top: 70px;

  #contents {
    width: 100vw;
    padding-left: 200px;
    .section_inner {
      width: 1300px;
      margin: 0 auto;
      margin-top: 70px;
      padding: 0 20px;

      .banner_container {
      }
      .video_container {
        .video_container_inner {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .box {
            width: 32.7%;
            padding: 10px;
            transition: 0.25s;
            border-radius: var(--radius);

            &:hover {
              background: var(--dark-hover-color);
            }
            img {
              border-radius: var(--radius);
              margin-bottom: 20px;
            }

            .boxInfo {
              p {
                color: white;
              }
              .title {
                font-size: 18px;
                font-weight: bold;
              }
              .desc {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                color: var(--transparent-white);
              }
              a {
                display: flex;
                align-items: center;
                gap: 5px;
                .channel_title {
                  color: var(--transparent-white);
                }
                img {
                  width: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
