#main {
	display: flex;
	margin-top: 70px;

	#contents {
		width: 100vw;
		padding-left: 200px;
		.section_inner {
			width: 1300px;
			margin: 0 auto;
			margin-top: 70px;
			padding: 0 20px;

			.banner_container {
			}

			.video_container {
				.title_container {
					margin-bottom: 5px;
					.title_container_inner {
						display: flex;
						align-items: center;
						gap: 5px;
						.other {
							display: flex;
							align-items: center;
							gap: 5px;
							font-size: 20px;
							font-weight: bold;
							> img {
								width: 19px;
							}
						}
						img {
							width: 24px;
						}
						h2 {
							font-weight: bold;
						}
						p {
							color: #ffffffb2;
						}
					}
				}
				.video_container_inner {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					.boxbox {
						width: 32.7%;
						.box {
							width: 100%;
							display: inline-block;
							padding: 10px;
							transition: 0.25s;
							border-radius: var(--radius);
							.broken {
								width: 100%;
								height: 110px;
								/* background: #20232b; */
								color: white;
								border: 1px solid white;
								border-radius: var(--radius);
								display: flex;
								align-items: center;
								justify-content: center;
								flex-direction: column;
								img {
									width: 42px;
									/* padding: 10px; */
									background: #13d61917;
									border-radius: 100px;
									padding: 5px;
								}
							}

							&:hover {
								background: var(--dark-hover-color);
							}
							img {
								border-radius: var(--radius);
								margin-bottom: 5px;
							}

							.boxInfo {
								p {
									color: white;
								}
								a {
									display: flex;
									align-items: center;
									gap: 5px;
									.channel_title {
										color: var(--transparent-white);
									}
									img {
										width: 18px;
									}
								}
								.title {
									font-size: 18px;
									font-weight: bold;
								}
								.desc {
									width: 100%;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
									font-size: 14px;
									color: var(--transparent-white);
								}
								.date_container {
									display: flex;
									align-items: center;
									p {
										color: var(--transparent-white);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
