:root {
  --light-bg: #fff;
  --dark-bg: #181a20;

  --dark-button: #20232b;
  --dark-button-hover: #fff;
  --dark-hover-color: #20232b;

  --dark-border-color: #20232b;
  --dark-text: #fff;

  --green: #11d619;

  --transparent-white: #ffffffb2;
  --transparent-dark: #181a20b8;

  --backdrop-filter: 50px;

  --radius: 5px;
  --font-size: 16px;
  --font-height: 1.4;
  --font-color: #000;
  --font-main: "Pretendard";

  font-family: var(--font-main), Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--font-height);
  color: var(--font-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// border-box 초기화
*,
*::before,
*::after {
  margin: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// 가로모드 글씨 확대 초기화
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

// 초기화
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

//링크 초기화
a,
a:hover,
a:focus {
  color: var(--font-color);
  text-decoration: none;
}

input,
textarea,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-size: var(--font-size);
}

// 스타일 초기화
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul {
  list-style: none;
}
em,
address {
  font-style: normal;
}
strong {
  font-weight: normal;
}
img {
  vertical-align: top;
  width: 100%;
}
// table
table {
  border: 0;
  border-collapse: collaspe;
  border-spacing: 0;
  width: 100%;
}

button {
  background: transparent;
  border: 0;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
