.vid_page_container {
  // margin-top: 70px;
  width: 100vw;
  padding-left: 200px;
  .vid_page_container_inner {
    width: 1300px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 20px;
    display: flex;
    .videoView {
      width: 80vw;
      .play {
        position: relative;
        > div {
          width: 1000px !important;
          height: 562.44px !important;
          &:last-child {
            position: absolute;
            top: 0;
            left: 0;
            filter: blur(200px) opacity(0.5);
            z-index: -1;
          }
        }
      }
    }
    .videoList {
      width: 20vw;
      max-width: 200px;
      min-width: 200px;
    }
  }
}
