@import "./reset.scss";
@import "./header.scss";
@import "./fonts.scss";
@import "./main.scss";

// 변수 설정
:root {
  --white: #fff;
  --black: #000;

  --bg-light: #fff;
  --bg-light-border: #e8e8ef;

  --bg-dark: #000;
  --bg-dark-border: #1a1a1a;

  --font-size: 16px;
  --font-height: 1.4;
  --font-color: #000;
  --font-main: "NexonLv1Gothic";
}

body {
  background-color: var(--bg-light);
  min-height: 100vh;
}
